.nav-link:hover {
  color: blue;
}

#user:hover #user-menu {
  display: block;
}

#work-dashboard-right::after {
  content: '';
  display: block;
  position: absolute;
  top: 80px;
  right: 426px;
  height: 750px;
  width: 1px;
  background-color: rgb(171, 169, 169);
}


/* responsive */
@media (max-width: 575.98px) {
  .filter-btn {
    visibility: hidden;

  }

  .work-dashboard-section {
    padding: 5px;
    padding-top: 10px;
  }
}

@media (min-width: 992px) {

  .filter-btn {
    visibility: visible;

  }

  .work-dashboard-section {
    padding: 20px;
  }


}